.album_part {
  margin: 40px auto;

  h2 {
    color: var(--accents-color-1);
  }

  .album_container {
    columns: 5 200px;
    column-gap: 1.3rem;
    width: 90%;
    margin: 20px auto;

    div {
      margin: 0 1.5rem 1.5rem 0;
      display: inline-block;
      width: 100%;
      border: solid 1px var(--accents-color-4);
      padding: 5px;
      box-shadow: 5px 5px 5px var(--shadow-color-1);
      border-radius: 8px;
      transition: all .25s ease-in-out;


      @media only screen and (min-width: 600px) {
        &:hover img {
          filter: grayscale(0);
        }
      }

      &:hover {
        border-color: var(--theme-color);
      }

      img {
        width: 100%;

        @media only screen and (min-width: 600px) {
          filter: grayscale(80%);
        }
        border-radius: 5px;
        transition: all .25s ease-in-out;
      }

      p {
        color: var(--accents-color-2);
        margin: 3px 0;
        padding: 0;
        text-align: center;
        font-style: italic;
      }
    }
  }
}


