:root {
  --text-color: #c4c4bd;
  --emphasized-color: #eee7e7;
  --accents-color-1: #a9a4a4;
  --accents-color-2: #656462;
  --accents-color-3: #484747;
  --accents-color-4: #2c2b2b;
  --theme-color: #ce4623;
  --theme-color-1: #AF4F36;
  --theme-color-2: #8C3E29;
  --reverse-text-color: #020202;
  --bg-color: #1a1919;
  --navbar-bg-color: rgba(255,255,255,0.06);
  --navbar-height: 49px;
  --shadow-color-0: rgba(0,0,0,0.3);
  --shadow-color-1: rgba(0,0,0,0.1);
  --hlt-color-1: rgba(0,0,0,0.25);
  --inline-code-color-bg: rgba(61, 36, 24, 0.56);
  --inline-code-color-text: #c7663b;
  --head-cover-filter: brightness(0);
}
