.introduce {
  margin: 10px auto;

  h1 {
    margin-bottom: 0;
    color: var(--emphasized-color);
  }

  h2 {
    color: var(--theme-color);
    font-weight: 400;
    margin-top: 0;
  }

  h3 {
    color: var(--accents-color-1);
    font-weight: 300;
    margin: 8px auto;
  }

  .outside_pages {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    .outside_page_item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: fit-content;
      padding: 4px 8px;
      border-radius: 7px;
      margin: 3px;
      cursor: pointer;
      transition: .2s border-color;
      border: solid 1px transparent;
      background-color: var(--hlt-color-1);
      font-size: 14px;
      box-shadow: 0 2px 4px var(--shadow-color-1);

      .start{
        display: flex;
        flex-direction: row;
        svg{
          width: 14px;
          margin-right: 6px;
          *{
            fill: var(--accents-color-2);
          }
        }
        .name {
          height: fit-content;
          color: var(--accents-color-2);
          margin: auto 0;
        }
      }
      .desc {
        color: var(--accents-color-1);
        height: fit-content;
        margin: auto 0 auto 18px;
      }
    }
    .outside_page_item:hover{
      border: solid 1px var(--accents-color-2);
    }
  }

}

.subIntroduce {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  color: var(--inline-code-color-text);
  background-color: var(--inline-code-color-bg);
  padding: 4px 8px;
  border-radius: 6px;
  width: fit-content;
  margin: 0 auto;
}

.title_icon svg * {
  transition: 0.2s fill;
  fill: var(--emphasized-color);
}

.title_icon svg:hover * {
  fill: var(--theme-color);
}

.blog_previews_wrapper {
  margin: 10px auto;
}

.type_name_wrapper {
  display: flex;
  flex-direction: row;
}

.type_name {
  width: fit-content;
  margin: 0 auto;
  pointer-events: none;
  color: var(--accents-color-2);
  font-weight: 400;
}

.post_type_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.post_type_button {
  width: fit-content;
  padding: 4px 4px;
  margin: 0 0.5em;
  transition: 0.3s border-bottom-width;
}

.is_selected {
  border-bottom: solid var(--theme-color) 3px;
  cursor: default;
}

.is_selected h3 {
  font-weight: 600;
  color: var(--theme-color);
}

.hidden {
  display: none;
}

.post_previews_wrapper {
  margin-top: 2em;
}

.last_update_time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.last_update_time * {
  width: fit-content;
  height: fit-content;
  margin: auto 0;
}

.last_update_time h4 {
  font-weight: 400;
  color: var(--accents-color-2);
  margin-right: 5px;
}

.last_update_time p {
  color: var(--accents-color-2);
}
