:root {
  background-color: var(--bg-color);
  --about-width: 400px;
}

body {
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
  width: var(--about-width);
  height: 100vh;
  background-color: var(--bg-color-1);
  background-image: url("../resources/text_background.png");
  box-sizing: border-box;
  border: 24px var(--bg-color-0) solid;
  padding: 36px;
  overflow: auto;

  * {
    color: var(--text-color-1);
    font-weight: 200;
    display: block;
  }

  .up {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .down {
    justify-content: end;
    width: 100%;
  }

  .outside_pages {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .outside_page_item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: fit-content;
      padding: 3px 8px;
      border-radius: 5px;
      margin: 3px;
      cursor: pointer;
      transition: .2s border-color;
      border: solid 1px transparent;
      background-color: var(--bg-color-0);
      font-size: 13px;
      box-shadow: 0 2px 4px var(--shadow-color-1);


      svg {
        width: 14px;
        margin-right: 4px;

        * {
          fill: var(--text-color-2);
        }
      }

      .desc {
        color: var(--text-color-1);
        height: fit-content;
        margin: auto 0 auto 8px;
      }
    }

    .outside_page_item:hover {
      border: solid 1px var(--accents-color-2);
    }
  }

  img {
    width: min(266px, 100%);
    object-fit: contain;
  }

  .introduction {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;

    .texts {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
      }

      p {
        margin: 6px 0 0;
        font-size: 14px;
        color: var(--text-color-2);
        font-weight: normal;
      }
    }

    .icon {
      svg {
        width: 36px;
        height: 36px;

        * {
          fill: var(--text-color-2);
        }
      }

      height: fit-content;
      width: fit-content;
      padding-right: 18px;
    }
  }

  .friends {
    margin-top: 48px;
    width: 100%;

    .title {
      display: flex;
      flex-direction: row;
      align-items: end;
      margin-left: 10px;

      svg {
        width: 28px;
        height: 28px;

        * {
          fill: var(--text-color-2);
        }
      }

      div {
        margin-left: 10px;
        color: var(--text-color-2);
        font-weight: normal;
      }
    }

    .list {
      width: 100%;

      .friend_link:hover {
        border: solid 1px var(--text-color-2);
      }

      .friend_link {
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 8px auto;
        background-color: var(--bg-color-0);
        border-radius: 4px;
        padding: 4px 10px;
        cursor: pointer;
        font-size: 14px;
        transition: border-color 0.2s;
        border: solid 1px transparent;

        .start {
          display: flex;
          flex-direction: row;
          align-items: center;

          height: fit-content;
          margin: auto 0;

          svg {
            width: 14px;
            height: 14px;
            margin-right: 6px;
          }

          div {
            transition: .2s color;
            height: fit-content;
            margin: auto 0;
          }

          .icon {
            height: 20px;
            margin: 4px;

            svg {
              fill: var(--text-color-2);

              * {
                fill: var(--text-color-2);
              }
            }
          }
        }

        .desc {
          color: var(--text-color-2);
          height: fit-content;
          margin: 0;
          margin-left: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @media only screen and (max-width: 380px) {
    .outside_pages {
      flex-direction: column;

      .outside_page_item {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .introduction {
      flex-direction: column;

      .icon {
        margin-bottom: 16px;
      }

      .texts {
        text-align: center;
      }
    }

  }

  @media only screen and (max-width: 440px) {
    .friends {
      margin-top: 12px;

      .title {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}

.contents_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100vw - var(--about-width));
  background-color: var(--bg-color-0);
}

.contents {
  width: 100%;
  margin: 48px 0 0 4vw;
}

@media only screen and (max-width: 600px) {
  .about {
    align-items: center;
    width: 100vw;
    position: static;
    height: fit-content;
  }
  .contents_wrapper {
    width: 100vw;
    position: static;
  }
  .contents {
    margin: 0 auto
  }
}

.title_icon svg * {
  transition: 0.2s fill;
  fill: var(--emphasized-color);
}

.title_icon svg:hover * {
  fill: var(--theme-color);
}

.blog_previews_wrapper {
  margin: 10px auto;
}

.type_name_wrapper {
  display: flex;
  flex-direction: row;
}

.type_name {
  width: fit-content;
  margin: 0 auto;
  pointer-events: none;
  color: var(--accents-color-2);
  font-weight: 400;
}

.post_type_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.post_type_button {
  width: fit-content;
  padding: 4px 4px;
  margin: 0 0.5em;
  transition: 0.3s all;
}

.is_selected {
  cursor: default;
}

.is_selected h3 {
  font-weight: 600;
  color: var(--theme-color);
}

.hidden {
  display: none;
}

.post_previews_wrapper {
  margin-top: 2em;
}
