:root {
    --text-color: #2a2928;
    --emphasized-color: #000;
    --accents-color-1: #70706f;
    --accents-color-2: #adaba7;
    --accents-color-3: #d2d1ce;
    --accents-color-4: #e3e2df;
    --theme-color: #c54c1c;
    --theme-color-1: #ce7858;
    --theme-color-2: #f3c9bb;
    --reverse-text-color: #FFF;
    --bg-color: #f1edea;
    --navbar-bg-color: rgb(19 20 20/6%);

    --navbar-height: 49px;
    --shadow-color-0: rgba(0, 0, 0, 0.3);
    --shadow-color-1: rgb(0 0 0/4%);
    --hlt-color-1: rgb(255 255 255/25%);

    --inline-code-color-bg: rgba(217, 174, 157, 0.56);
    --inline-code-color-text: rgb(164, 61, 5);

    --head-cover-filter: opacity(.75);
}