:root{
    --text-color: #c4c4bd;
    --emphasized-color: #eee7e7;
    --accents-color-1: #a9a4a4;
    --accents-color-2: #888783;
    --accents-color-3: #50504e;
    --theme-color: #ad674a;
    --theme-color-1: #a6583e;
    --reverse-text-color: #FFF;
    --bg-color: #262424;
    --navbar-bg-color: rgba(255, 255, 255, 0.06);

    --navbar-height: 49px;
    --shadow-color-1: rgba(0, 0, 0, 0.1);
    --hlt-color-1: rgba(0, 0, 0, 0.25);

    --head-cover-opacity: .3;
}
