.introduce{
    margin: 10px auto;
}

.introduce h1{
    margin-bottom: 0;
    color: var(--emphasized-color);
}
.introduce h2{
    color: var(--theme-color);
    font-weight: 400;
    margin-top: 0;
}
.subIntroduce{
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    color: var(--inline-code-color-text);
    background-color: var(--inline-code-color-bg);
    padding: 4px 8px;
    border-radius: 6px;
    width: fit-content;
    margin: 0 auto;
}
.introduce h3{
    color: var(--accents-color-1);
    font-weight: 300;
    margin: 8px auto;
}

.title_icon svg *{
    transition: .2s fill;
    fill: var(--emphasized-color);
}
.title_icon svg:hover *{
    fill: var(--theme-color);
}
.blog_previews_wrapper{
    margin: 10px auto;
}
.type_name_wrapper{
    display: flex;
    flex-direction: row;
}
.type_name{
    width: fit-content;
    margin: 0 auto;
    pointer-events: none;
    color: var(--accents-color-2);
    font-weight: 400;
}

.post_type_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.post_type_button{
    width: fit-content;
    padding: 4px 4px;
    margin: 0 .5em;
    transition: .3s border-bottom-width;
}
.is_selected{
    border-bottom: solid var(--theme-color) 3px;
    cursor: default;
}
.is_selected h3{
    font-weight: 600;
    color: var(--theme-color);
}
.hidden{
    display: none;
}
.post_previews_wrapper{
    margin-top: 2em;
}
.last_update_time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    width: fit-content;

}
.last_update_time *{
    width: fit-content;
    height: fit-content;
    margin: auto 0;
}
.last_update_time h4{
    font-weight: 400;
    color: var(--accents-color-2);
    margin-right: 5px;
}
.last_update_time p{
    color: var(--accents-color-2);
}