.introduce h1{
    margin-bottom: 0;
}
.introduce h2{
    color: var(--theme-color);
    font-weight: 400;
    margin-top: 0;
}
.introduce h3{
    color: var(--accents-color-1);
    font-weight: 300;
}

.title_icon svg *{
    transition: .2s fill;
    fill: var(--text-color);
}
.title_icon svg:hover *{
    fill: var(--theme-color);
}
.type_name{
    pointer-events: none;
}
