::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-1);
  border-radius: 10px;
  border: solid var(--text-color-2) 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-2);
}

body {
  background-color: var(--bg-color-1);
}

* {
  box-sizing: border-box;
}

.header .navbar {
  color: var(--text-color);
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
  height: var(--navbar-height);
  border-radius: 100px;
  background: var(--navbar-bg-color);
  backdrop-filter: blur(10px);
  position: relative;
  padding: 8px;
}
.header .navbar * {
  display: flex;
  color: var(--text-color);
  margin: 0 3px;
}
.header .navbar .navbar_item {
  background: var(--navbar-bg-color);
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s background-color;
}
.header .navbar .navbar_item * {
  pointer-events: none;
  margin: 0 2px;
  color: var(--text-color);
  fill: var(--text-color);
}
.header .navbar .navbar_item svg {
  width: 20px;
  height: 20px;
}
.header .navbar .navbar_item .title {
  height: fit-content;
  margin: auto 2px;
}
.header .navbar .navbar_item:hover {
  background: var(--hlt-color-1);
}
.header .navbar .dark_mode {
  margin: 0 6px;
  padding: 2px;
  border-radius: 100px;
  transition: 0.2s fill;
  cursor: pointer;
}
.header .navbar .dark_mode:hover svg * {
  fill: var(--emphasized-color);
}

.navi.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-top: 24px;
}

* .navi_link:-webkit-any-link:hover {
  color: var(--text-color-0);
  font-weight: bold;
}

* .navi_link:-webkit-any-link {
  margin: 6px 0;
  color: var(--text-color-2);
  font-size: 24px;
  font-family: serif;
  font-weight: bolder;
  display: inline-block;
  transform: scaleX(0.75);
  transition: color 0.2s;
  cursor: pointer;
}

* .navi_link.highlighted {
  text-decoration: none;
  color: var(--text-color-1);
  font-weight: bold;
  font-size: 28px;
}

svg * {
  fill: var(--text-color);
}

.contents {
  max-width: min(90%, var(--content-max-width));
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 42px auto auto;
}

footer {
  margin: 4em auto;
  text-align: center;
}
footer .contact {
  width: fit-content;
  margin: auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--accents-color-2);
}
footer .contact h3 {
  margin: 0.5em 0;
}
footer .contact .items {
  display: flex;
  flex-direction: row;
}
footer .contact .item {
  margin: 5px 10px;
  cursor: pointer;
}
footer .contact .item svg * {
  fill: var(--text-color);
  transition: 0.1s fill;
}
footer .contact .item:hover svg * {
  fill: var(--theme-color-1);
}

.outside {
  text-decoration: underline dashed var(--accents-color-2);
}

/*# sourceMappingURL=layout.css.map */
