.page_content {
  text-align: justify;
}
.page_content h1 {
  color: var(--text-color-0);
  margin: 48px 0 12px;
  width: 100%;
  padding: 2px 0;
  font-weight: 400;
  font-size: 28px;
  border-bottom: solid var(--line-color) 1px;
}
.page_content h2 {
  font-weight: 400;
  color: var(--text-color-0);
  width: fit-content;
  margin: 22px 0 12px;
}
.page_content h3 {
  color: var(--text-color-0);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.page_content p {
  margin: 8px auto;
  min-height: 12px;
}
.page_content t {
  line-height: 1.5em;
}
.page_content blockquote {
  margin: 8px 0;
  border-left: solid 3px var(--text-color-2);
  border-radius: 0 2px 2px 0;
  padding: 2px 12px;
  color: var(--text-color-1);
  font-weight: 200;
}
.page_content ul {
  padding-left: 1.5em;
  margin: 0.3em 0;
  text-align: start;
}
.page_content ol {
  padding-left: 1.5em;
  margin: 0.3em 0;
}
.page_content .bookmark_block {
  margin: 12px 0;
}
.page_content .bookmark_block .bookmark:hover {
  background-color: var(--hlt-color-1);
}
.page_content .bookmark_block .bookmark {
  transition: 0.2s background-color;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: dashed var(--accents-color-3);
  border-radius: 6px;
  margin: 0;
  cursor: pointer;
}
.page_content .bookmark_block .bookmark div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0;
}
.page_content .bookmark_block .bookmark .title {
  color: var(--accents-color-1);
}
.page_content .bookmark_block .bookmark .url {
  color: var(--accents-color-3);
  font-size: 12px;
}
.page_content .divider_block {
  height: 1px;
  border: none;
  border-radius: 6px;
  background: var(--text-color-2);
}
.page_content .image_wrapper {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  justify-content: center;
}
.page_content .image_wrapper img {
  border-radius: 4px;
}
.page_content .column_list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  max-width: 100%;
  gap: 12px;
}
.page_content .column_list .column {
  margin: 4px;
  max-width: 47%;
}
.page_content .code_block {
  margin: 0.4em auto;
}
.page_content .code_block .code_part {
  background-color: var(--bg-color-1);
  font-family: var(--monospace-font), sans-serif;
  border-radius: 2px;
  padding: 1.3em 1.7em;
}
.page_content .code_block .code_part .code_lang {
  text-align: right;
  position: relative;
  height: 0;
  top: -18px;
  right: -18px;
  color: var(--text-color-2);
  font-size: 12px;
}
.page_content .code_block .code_part pre {
  margin: 0;
}
.page_content .code_block .code_part pre code {
  line-height: 1.5em;
  padding: 0;
  overflow-x: auto;
  font-size: 13px;
  background-color: var(--bg-color-1);
  white-space: pre;
}
.page_content .caption {
  margin: 4px;
  width: fit-content;
  max-width: 100%;
  font-size: 14px;
}
.page_content .caption t {
  color: var(--accents-color-1);
}
.page_content .callout {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color-1);
  padding: 24px 30px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 200;
}
.page_content .callout .icon {
  font-size: 28px;
  padding: 8px 16px;
  padding-left: 0;
}
.page_content .callout .text {
  height: fit-content;
  margin: auto 0;
}
.page_content .todo_block {
  display: flex;
  flex-direction: row;
}
.page_content .todo_block .icon {
  height: 18px;
  margin: 8px 6px;
}
.page_content .todo_block .text {
  height: fit-content;
  margin: auto 0 auto 6px;
}
.page_content .checked {
  color: var(--accents-color-2);
  text-decoration: line-through;
}
.page_content .checked svg * {
  fill: var(--accents-color-2);
}

h1 t {
  font-weight: 400;
  color: var(--text-color-0);
}

h2 t {
  font-weight: 400;
}

h3 t {
  font-weight: 400;
}

t {
  white-space: normal;
  font-weight: 200;
  color: var(--text-color-1);
}

t.code {
  background-color: var(--inline-code-color-bg);
  color: var(--inline-code-color-text);
  font-weight: normal;
  border-radius: 0.3em;
  padding: 0 0.4em;
  margin: 0 -0.1em;
  font-family: var(--monospace-font), monospace;
  font-size: 0.9em;
}

t.bold {
  font-weight: 800;
}

t.italic {
  font-style: italic;
}

t.href {
  color: var(--theme-color-1);
  cursor: pointer;
  text-decoration: underline solid;
  transition: color 0.2s;
  max-width: 100%;
  overflow-wrap: break-word;
}

t.href:hover {
  color: var(--theme-color);
  text-decoration: underline solid 3px;
}

.table {
  width: 100%;
  height: fit-content;
  margin: 16px auto;
}
.table table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.9rem;
}
.table table .table_header {
  background-color: var(--bg-color-1);
}
.table table tr td {
  text-align: left;
  padding: 10px 12px;
  border: 1px solid var(--bg-color-2);
}

/*# sourceMappingURL=page_content.css.map */
