@charset "UTF-8";
:root {
  color: var(--text-color);
}

.post {
  font-size: 16px;
  font-weight: 200;
  color: var(--text-color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.post .sidebar_wrapper_left {
  left: 0;
}
.post .sidebar_wrapper_right {
  right: 0;
}
.post .sidebar_wrapper {
  top: 0;
  position: fixed;
  height: 100vh;
  width: calc((100vw - var(--content-max-width)) / 2);
  box-sizing: border-box;
  z-index: -1;
  border: 24px solid var(--bg-color-0);
  background-image: url("../resources/text_background.png");
}
.post .navi {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40vh;
  transform: translateY(-50%);
  right: calc((100vw - var(--content-max-width)) / 2 + var(--content-max-width) + 48px);
}
.post .navi a {
  margin: 6px 0;
  color: var(--text-color-2);
  font-size: 24px;
  font-family: serif;
  font-weight: bolder;
  display: inline-block;
  transform: scaleX(0.75);
  transition: color 0.2s;
  cursor: pointer;
}
.post .navi a:hover {
  color: var(--text-color-0);
}
@media only screen and (max-width: 920px) {
  .post .catalogue {
    display: none;
  }
}
.post .catalogue {
  width: calc((100vw - var(--content-max-width)) / 2);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s opacity;
}
.post .catalogue div {
  width: 100%;
  height: 100%;
}
.post .catalogue ul {
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: fit-content;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.post .catalogue ul li {
  list-style: none;
}
.post .catalogue ul li a:hover {
  color: var(--text-color-0);
}
.post .catalogue .h1 {
  margin: 14px 0 8px;
  font-size: 14px;
}
.post .catalogue .h1 a {
  color: var(--text-color-1);
}
.post .catalogue .h2 {
  margin: 8px 0;
  padding-left: 16px;
  font-size: 14px;
}
.post .catalogue .h2 a {
  color: var(--text-color-1);
}
.post .catalogue .h2::before {
  content: "-";
}
.post .catalogue .h3 {
  margin: 4px 0;
  padding-left: 32px;
  font-size: 14px;
}
.post .catalogue .h3 a {
  color: var(--text-color-2);
}
.post .catalogue .h3::before {
  content: "·";
}
.post .catalogue a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s color;
  color: var(--accents-color-1);
}
.post .catalogue:hover {
  opacity: 1;
}
.post .contents {
  margin: 0;
  border-left: solid var(--line-color) 1px;
  border-right: solid var(--line-color) 1px;
  padding: 52px;
  background-color: var(--bg-color-0);
}
.post .contents .page_description {
  margin: 24px 0;
}
.post .contents .page_description h1 {
  margin: 6px 0;
  text-align: left;
  font-weight: 400;
  font-size: 34px;
  color: var(--emphasized-color);
}
.post .contents .page_description .sub_info {
  display: flex;
  justify-content: left;
  padding: 0 0;
  font-family: var(--monospace-font) sans-serif;
}
.post .contents .page_description .sub_info p {
  margin: 0;
  padding: 4px 4px;
  width: fit-content;
  color: var(--text-color-1);
  font-size: 16px;
}
.post .contents .page_description .sub_info .type_tags {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.post .contents .page_description .sub_info .tag {
  margin: auto 6px;
}
.post .contents .page_description .sub_info .type {
  margin-left: 8px;
}
.post .contents .page_contents {
  text-align: justify;
}
.post .contents .page_contents h1 {
  color: var(--text-color-0);
  margin: 48px 0 12px;
  width: 100%;
  padding: 2px 0;
  font-weight: 400;
  font-size: 28px;
  border-bottom: solid var(--line-color) 1px;
}
.post .contents .page_contents h2 {
  font-weight: 400;
  color: var(--text-color-0);
  width: fit-content;
  margin: 22px 0 12px;
}
.post .contents .page_contents h3 {
  color: var(--text-color-0);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.post .contents .page_contents p {
  color: var(--text-color-1);
  margin: 8px auto;
  font-weight: 200;
  min-height: 12px;
}
.post .contents .page_contents t {
  line-height: 1.65em;
}
.post .contents .page_contents blockquote {
  margin: 12px 0;
  border-left: solid 3px var(--text-color-2);
  border-radius: 0 2px 2px 0;
  padding: 6px 16px;
  color: var(--text-color-1);
  font-weight: 200;
}
.post .contents .page_contents ul {
  padding-left: 1.5em;
  margin: 0.3em 0;
}
.post .contents .page_contents ol {
  padding-left: 1.5em;
  margin: 0.3em 0;
}
.post .contents .page_contents .bookmark_block {
  margin: 12px 0;
}
.post .contents .page_contents .bookmark_block .bookmark:hover {
  background-color: var(--hlt-color-1);
}
.post .contents .page_contents .bookmark_block .bookmark {
  transition: 0.2s background-color;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: dashed var(--accents-color-3);
  border-radius: 6px;
  margin: 0;
  cursor: pointer;
}
.post .contents .page_contents .bookmark_block .bookmark div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0;
}
.post .contents .page_contents .bookmark_block .bookmark .title {
  color: var(--accents-color-1);
}
.post .contents .page_contents .bookmark_block .bookmark .url {
  color: var(--accents-color-3);
  font-size: 12px;
}
.post .contents .page_contents .divider_block {
  height: 2px;
  border: none;
  border-radius: 6px;
  background: var(--theme-color-1);
}
.post .contents .page_contents .image_wrapper {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  justify-content: center;
}
.post .contents .page_contents .image_wrapper img {
  border-radius: 4px;
}
.post .contents .page_contents .column_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}
.post .contents .page_contents .column_list .column {
  margin: 4px;
  max-width: 50%;
}
.post .contents .page_contents .code_block {
  margin: 1em auto;
}
.post .contents .page_contents .code_block .code_part {
  background-color: var(--bg-color-1);
  font-family: var(--monospace-font), sans-serif;
  border-radius: 2px;
  padding: 1.3em 1.7em;
}
.post .contents .page_contents .code_block .code_part .code_lang {
  text-align: right;
  position: relative;
  height: 0;
  top: -18px;
  right: -18px;
  color: var(--text-color-2);
  font-size: 12px;
}
.post .contents .page_contents .code_block .code_part .code_part_text {
  overflow-x: auto;
  font-size: 14px;
  color: var(--text-color-1);
}
.post .contents .page_contents .code_block .code_part .code_part_text t {
  white-space: pre;
}
.post .contents .page_contents .caption {
  color: var(--accents-color-2);
  margin: 4px;
  width: fit-content;
  font-size: 14px;
}
.post .contents .page_contents .callout {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color-1);
  padding: 24px 30px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 200;
}
.post .contents .page_contents .callout .icon {
  font-size: 28px;
  padding: 8px 16px;
  padding-left: 0;
}
.post .contents .page_contents .callout .text {
  height: fit-content;
  margin: auto 0;
}
.post .contents .page_contents .todo_block {
  display: flex;
  flex-direction: row;
}
.post .contents .page_contents .todo_block .icon {
  height: 18px;
  margin: 8px 6px;
}
.post .contents .page_contents .todo_block .text {
  height: fit-content;
  margin: auto 0 auto 6px;
}
.post .contents .page_contents .checked {
  color: var(--accents-color-2);
  text-decoration: line-through;
}
.post .contents .page_contents .checked svg * {
  fill: var(--accents-color-2);
}

t {
  white-space: normal;
}

t.code {
  background-color: var(--inline-code-color-bg);
  color: var(--inline-code-color-text);
  border-radius: 0.3em;
  padding: 0 0.6em;
  margin: 0 -0.1em;
  font-family: var(--monospace-font);
  font-size: 0.9em;
}

t.bold {
  font-weight: 800;
}

t.italic {
  font-style: italic;
}

t.href {
  color: var(--theme-color-1);
  cursor: pointer;
  text-decoration: underline solid;
  transition: color 0.2s;
}

t.href:hover {
  color: var(--theme-color);
  text-decoration: underline solid 3px;
}

/*# sourceMappingURL=post.css.map */
