:root{
    font-family: "Glow Sans SC", serif;
    --monospace-font: 'IBM Plex Mono', monospace;
}
*{
    transition-duration: .2s;
    transition-property: color;
}
body{
    transition-property: background-color;
}