.contents_wrapper{
    margin: auto;
    max-width: 505px;
    text-align: center;
}
.contents{
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}
.contents h1{
    margin-bottom: 0;
}
.contents h2{
    color: var(--theme-color);
    font-weight: 400;
    margin-top: 0;
}
.contents h3{
    color: var(--accents-color-1);
    font-weight: 300;
}

.title_icon svg *{
    transition: .2s fill;
    fill: var(--text-color);
}
.title_icon svg:hover *{
    fill: var(--theme-color);
}
.type_name{
    pointer-events: none;
}
